.env
.hypothesis
circuits/.hypothesis/unicode_data/13.0.0
.pytest_cache


circuits/InclusionProof_cpp
circuits/InclusionProof_js
circuits/InclusionProof_0000.zkey
circuits/InclusionProof_0001.zkey
circuits/InclusionProof.r1cs
circuits/InclusionProof.sym
circuits/pot12_0000.ptau
circuits/pot12_0001.ptau
circuits/pot12_final.ptau
circuits/proof.json
circuits/public.json
circuits/verification_key.json

scripts/__pycache__

tests/__pycache__



