.env
.hypothesis
circuits/.hypothesis/unicode_data/13.0.0
.pytest_cache


circuits/InclusionProof_cpp
circuits/InclusionProof_js
circuits/InclusionProof_0000.zkey
circuits/InclusionProof_0001.zkey
circuits/InclusionProof.r1cs
circuits/InclusionProof.sym
circuits/pot12_0000.ptau
circuits/pot12_0001.ptau
circuits/pot12_final.ptau
circuits/proof.json
circuits/public.json
circuits/verification_key.json
circuits/InclusionProof_cpp
circuits/InclusionProof_js

scripts/__pycache__
scripts/merkle_tree/__pycache__
scripts/merkle_tree/build
scripts/merkle_tree/cache
scripts/merkle_tree/Poseidon/__pycache__
scripts/merkle_tree/Poseidon/Poseidon.egg_info

build


tests/__pycache__

generated_input.json





